<div class="page-header page-header-xs" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Example page</h1>
            <h3>Start designing your landing page here.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Quem somos</h2>
                    <h5 class="description">O Projeto Vestibular Cidadão é um curso pré-vestibular gratuito voltado para alunos e ex-alunos de escolas públicas e ex-bolsitas de escolar particulares de todas as idades. Objetiva preparar os estudantes para o difícil processo seletivo das universidades/faculdades, atenuando assim as diferenças estruturais entre estes e os estudantes oriundos de escolas particulares. O Vestibular Cidadão é mais que um cursinho: é uma “oficina de cidadãos”.</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="section text-center" id="results">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Nossos resultados</h2>
                    <h5 class="description">
                        No ano de 2016 o Vestibular Cidadão continuou com o sucesso dos anos anteriores e teve uma aprovação recorde nos Vestibulares das Universidades Publicas não apenas do Estado de Pernambuco, mas também de todo o Nordeste.
                        O projeto fez parte da aprovação de alunos nos mais diversos cursos, sejam eles concorridos ou não. Fizemos parte da realização do sonho de muitos estudantes que é entrar em uma Universidade Pública de qualidade.
                    </h5>
                    <br>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>

    <div class="section text-center" id="time-line">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Faça parte dessa família<br>
                    Saiba quais são os critérios para participar!</h2>                    
                    
                    <ng2-timeline [data]="timelineData"></ng2-timeline>
                    <br>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
    <div class="section landing-section section-dark" id="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">TEVE ALGUM PROBLEMA COM SEU NOME, NÚMERO DE INSCRIÇÃO OU COM SEU LOCAL DE PROVA?</h2>
                    <h2 class="text-center">ENVIE UMA MENSAGEM QUE IREMOS TE AJUDAR!</h2>
                    
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Assunto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Menssagem</label>
                        <textarea class="form-control" style="resize: none;" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-danger btn-round">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
