<div class="page-header page-header-md" data-parallax="true" style="background: url('assets/img/background 1.jpg'); background-size: cover;">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="vestibular_cidadao">Matrículas 2018</h1>
      <br />
      <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
      <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
    </div>
  </div>
</div>

<div class="main">

  <div class="section text-center">

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="title_aproveds">PASSEI, E AGORA?</h2>            
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h2 class="title">Documentos Necessários</h2>
          <ul class="text-left">
            <li>Ficha de matrícula (<span style="color: rgba(255,0,0,.7)">Disponível no edital, levar impressa e preenchida</span>).</li>
            <li>Cópia do RG (<span style="color: rgba(255,0,0,.7)">exceto se já tiver entregue na inscrição</span>).</li>
            <li>Cópia ficha 19 ou Declaração (original) de que ainda está cursando o 3º ano do Ensino Médio.</li>
            <li>Foto 3x4 FOSCA com fundo BRANCO (a foto NÃO deve ser colada ou grampeada na ficha de matrícula deverá apenas ser entregue com a documentação).</li>            
            <li>Cópia de Comprovante de Residência atualizado (máximo 2 meses).</li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-6">
          <img class="img" style="width: 40%;margin-top: 30px;" src="assets/img/summary.png" alt="">
        </div>
      </div>

      <div class="section"></div>
      

      <div class="row">

        <div class="col-md-6 ">
          <app-maps lat=-8.0573493 lng=-34.8835407 title="Vestibular Cidadão"></app-maps>

        </div>
        <div class="col-md-6">
          <h2 class="title">Local de Matrícula</h2>
          <ul class="text-left">
            <li>02/04 e 03/04</li>
            <li>14:00 às 17:00</li>
            <li>Anexo II da Faculdade de Direito do Recife.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section"></div>

</div>