<div class="page-header page-header-xs" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Example page</h1>
            <h3>Start designing your landing page here.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
        </div>
    </div>
</div>


<div class="main">
    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title">Documentos Necessários</h2>
        <ul>
          <li>Foto 3x4 FOSCA com fundo BRANCO (a foto NÃO deve ser colada ou grampeada na ficha de matrícula deverá apenas ser entregue com a documentação).</li>
          <li>Cópia de Comprovante de Residência atualizado (máximo 2 meses).</li>
          <li>Cópia de Ficha 19 ou Declaração (original) de que ainda está cursando o 3º ano do Ensino Médio.</li>
          <li>Declaração de Bolsista Integral (para quem se enquadrar no caso).</li>
          <li>Cópia de Carteira de Identidade.</li>   
          <li>Cópia de CPF.</li>
        </ul>

​


      </div>
      <div class="col-md-6">
          
                  
      </div>
    </div>
  </div>
   
</div>
