<div class="page-header page-header-md" data-parallax="true" style="background: url('assets/img/background 1.jpg'); background-size: cover;">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="vestibular_cidadao">Gabaritos</h1>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>

<div class="main">

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto box-temp">
                    <div class="container" style="padding-top: 15px">
                        <div  class="row" style="padding-top: 15px">
                            <div class="col-md-12 text-center">
                                <div class="row">
                                    <div class="col-md-12 text-center ">
                                        <a 
                                            href="https://vestibularcidadao.com.br/archives/GABARITO%20DO%20PROCESSO%20SELETIVO%20VESTIBULAR%20CIDAD%C3%83O%202018.pdf" 
                                            target="_blank" 
                                            class="btn btn-provi btn-warning btn-round">
                                            <i class="nc-icon nc-paper"></i> Gabarito 2018
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="rows" class="container section-inner-padding">

                        <div *ngFor="let row of rows" class="row" style="padding-bottom: 20px">
                            <div class="col-md-12 text-center">
                                <div class="row">
                                    <div class="col-md-6 col-prova ">
                                        <a [href]="row.link_prova" target="_blank" class="btn btn-danger btn-round">
                                            <i class="nc-icon nc-paper"></i> {{row.name_prova}}
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-gabarito">
                                            <a [href]="row.link_gabarito" target="_blank" class="btn btn-danger btn-round">          
                                                    <i class="nc-icon nc-paper"></i> {{row.name_gabarito}}
                                                </a>
                                    </div>
                                </div>
                                
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section  landing-section"></div>

</div>