<app-preload></app-preload>
<div class="" id="content">
  <div class="page-header page-header-xs" data-parallax="true" style="background: url('assets/img/background 1.png'); background-size: cover;">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="vestibular_cidadao">Galeria</h1>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
  </div>
  
  <div class="section"></div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="m-p-g">
              <div class="m-p-g__thumbs" data-google-image-layout data-max-height="350">
                
                <img src="http://vestibularcidadao.com.br/archives/Imagem1.jfif" data-full="assets/img/galery/image1.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image2.jpeg" data-full="assets/img/galery/image2.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image3.jpeg" data-full="assets/img/galery/image3.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image4.jpeg" data-full="assets/img/galery/image4.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image5.jpeg" data-full="assets/img/galery/image5.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image6.jpeg" data-full="assets/img/galery/image6.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image7.jpeg" data-full="assets/img/galery/image7.jpeg" class="m-p-g__thumbs-img" />
                <img src="assets/img/galery/image8.jpeg" data-full="assets/img/galery/image8.jpeg" class="m-p-g__thumbs-img" />
                
                
              </div>
            
              <div class="m-p-g__fullscreen"></div>
            </div>
            
      </div>
    </div>
  </div>
  
  <div class="section"></div>
</div>


