<div class="page-header page-header-md" data-parallax="true" style="background: url('assets/img/background 1.jpg'); background-size: cover;">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1 class="vestibular_cidadao">Inscrições 2018</h1>
      <br />
      <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
      <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
    </div>
  </div>
</div>

<div class="main">

  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto box-temp">
          <h2 class="title">Acesse agora o edital 2018</h2>
          <div class="row">
            <div *ngIf="edital" class="col-md-12 text-center">
              <a [href]="edital[0].link_edital" target="_blank" class="btn btn-danger btn-round">
                    <i class="nc-icon nc-paper"></i> {{edital[0].name_edital}}</a>
            </div>
          </div>
          <div class="section"></div>
        </div>
      </div>

    </div>

  </div>

  <div class="section text-center">


    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h2 class="title">Documentos Necessários</h2>
          <ul class="text-left">
            <li>Original e copia de documento oficial com foto (Ex: identidade, habilitação).</li>
            <li>FichFicha 19 ou Declaração (original) de que ainda está cursando o 3º ano do Ensino Médioa 19 ou Declaração (original) de que ainda está cursando o 3º ano do Ensino Médio.</li>
            <li>Taxa de R$20,00.</li>            
          </ul>
        </div>
        <div class="col-md-6 col-xs-6 text-Ficha 19 ou Declaração (original) de que ainda está cursando o 3º ano do Ensino Médiocenter">
          <img class="img" style="width: 50%;margin-top: 30px;" src="assets/img/summary.png" alt="">
        </div>
      </div>

      <div class="section"></div>
      

      <div class="row">

        <div class="col-md-6 ">
          <app-maps lat=-8.058785 lng=-34.8824223 title="Faculdade de Direito do Recife"></app-maps>

        </div>
        <div class="col-md-6">
          <h2 class="title">Local de Inscrição</h2>
          <ul class="text-left">
            <li>Faculdade de Direito do Recife.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section"></div>

</div>