<div class="section-dark white">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12" style="padding: 30px">
                <h3>INFORMAÇÕES</h3>
                <p>TELEFONES: (81) 99891-9406 | (81) 98391-2154 | (81) 99762-6237</p>
                <p>VESTIBULAR.CIDADAO@GMAIL.COM</p>
            </div>
        </div>
    </div>
</div>

<footer *ngIf="isSplendi()" class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    ©Vestibular Cidadão {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>